{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block hero %}
{% if request.user.is_authenticated and not profile.profile_city %}
<div class="container p-3">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {% translate "You do not have a saved perfered city, please update your profile." %}
      <a class="btn btn-default" href="{% url 'profile_view' %}">{% translate "Update Profile" %}</a></small>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{% endif %}
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-3">
    <div class="list-group">
      {% if category == 'all' %}
        {% for c in cities %}
        <a href="{% url 'city_list_view' c.slug %}" class="list-group-item{% if city.slug == c.slug %} active{% endif %}">{{ c.city }}</a>
        {% endfor %}
        <a href="{% url 'index_view' %}" class="list-group-item{% if city == 'all' %} active{% endif %}">{% translate "All" %}</a>
      {% else %}
        {% for c in cities %}
        <a href="{% url 'city_category_list_view' c.slug category.slug %}" class="list-group-item{% if city.slug == c.slug %} active{% endif %}">{{ c.city }}</a>
        {% endfor %}
        <a href="{% url 'category_list_view' category.slug %}" class="list-group-item{% if city == 'all' %} active{% endif %}">{% translate "All" %}</a>
      {% endif %}
    </div>
    <br />
    <div class="list-group">
      {% if city == 'all' %}
        {% for cat in categories %}
        <a href="{% url 'category_list_view' cat.slug %}" class="list-group-item{% if cat.slug == category.slug %} active{% endif %}">{{ cat.name }}</a>
        {% endfor %}
        <a href="{% url 'index_view' %}" class="list-group-item{% if category == 'all' %} active{% endif %}">{% translate "All" %}</a>
      {% else %}
        {% for cat in categories %}
        <a href="{% url 'city_category_list_view' city.slug cat.slug %}" class="list-group-item{% if cat.slug == category.slug %} active{% endif %}">{{ cat.name }}</a>
        {% endfor %}
        <a href="{% url 'city_list_view' city.slug %}" class="list-group-item{% if category == 'all' %} active{% endif %}">{% translate "All" %}</a>
      {% endif %}
    </div>
  </div>
  <div class="col-md-9">
    {% include "bazar/includes/table.html" with object_list=object_list %}
  </div>
</div>
{% endblock %}
